# compiled output
/dist
/tmp

# dependencies
node_modules
/bower_components

# exclude javascript
*.js.map
*.js
# exclude types
*.d.ts

# misc
/coverage/*
npm-debug.log*
yarn-error.log
serviceAccountKey.json
.DS_Store

# istanbul code coverage
.nyc_output
coverage